@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  padding: 0;
  margin:0;
  font-family: 'Poppins','sans-serif';
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(20,23,26,1) 0%, rgba(255,105,180,1) 90% );
  padding:10px;
}
.todo_app{
  background-color: #ffffff;
  width: 150%;
  max-width:540px;
  margin:50px auto auto;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
  position: relative;
}
.todo_app h2{
  display:flex;
  align-items:center;
  margin-bottom: 30px;
}
.todo_app h2 img{
  width:30px;
  margin-left:10px;
}
.row{
  display:flex;
  flex-direction: column;
  align-items:left;
  justify-content: space-between;
  /* border: 1px solid #000; */
  height:200px;
}
#input_task  {
  padding: 8px;
  margin: 3px;
  border-radius: 10px;
  /* background-color: lightblue; */
}
#input_date  {
  padding: 8px;
  margin: 3px;
  border-radius: 10px;
  /* background-color: lightblue; */
}

#add_task_button{
  padding: 8px;
  margin: 3px;
  border-radius: 10px;
}

#logout_button{
  padding: 8px;
  margin: 3px;
  border-radius: 10px;
}
#list_container{
  margin:10px;
}
button{
  margin-top:10px;
}

ul li{
  list-style:none;
  font-size:17px;
  padding: 12px 8px 12px 40px;
  user-select:none;
  cursor:pointer;
  border:0.5px solid pink;
  margin:5px;
  border-radius:20px;
  position:relative;
}

ul li::before{
    content:'';
    position:absolute;
    width:25px;
    height:25px;
    border-radius:50%;
    border:0.5px solid black;
    /* background-image:url(images/unchecked.png); */
    background-size:cover;
    background-position:center;
    top:12px;
    left:8px;
}

ul li span{
  content:'';
  position:absolute;
  width:25px;
  height:25px;
  border-radius:50%;
  background-image:url(images/delete.jpg); 
  background-size:cover;
  background-position:center;
  top:12px;
  right:8px;
}

/* ul li.task-date::after{
   
  top:10px;
  right:6px;
  font-size: 14px;
  color:#666;
  width:30px;
  height:10px;
  position:absolute;
  margin-left:10px;
  
} */

.task-date {
  font-size: 14px;
  color: #666;
  display:flex;
  align-items: center;
  z-index: 999;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
    border: 2px solid green;
}

ul li.checked::before{
     background-image: url(images/checked.png);
     
}

ul li.overdue {
  border: 2px solid red; 
  color: red;
  font-weight: bold; 
}

#logout_button {
  position: absolute;
  bottom: 20px; /* Position it 20px from the bottom (adjust as needed) */
  left: 50%;     /* Move it to the horizontal center */
  transform: translateX(-50%); /* Center-align it horizontally */
  cursor: pointer;
  box-shadow: 5px 5px 10px black;
}
